.custom-container {
  width: 100%;
  height: 100vh;
}

.custom-layout {
  display: flex;
  text-align: center;
  font-weight: bold;
  color: white;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  background-color: #003437;
  max-width: 100%;
  flex-direction: column;
  margin: 0 auto;
}

.custom-gradient {
  position: absolute;
  width: 100%;
}

.custom-title {
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 2.5rem;
}

.custom-logo {
  display: flex;
  justify-content: center;
  margin-top: 3.5rem;
  img {
    width: 4rem;
  }
}

.custom-question {
  font-size: 1.5rem;
  justify-content: center;
  margin-top: 1.5rem;
  margin: 10%;
}

.custom-button-ques {
  display: flex;
  justify-content: center;
  margin-top: 30%;
  z-index: 20;

  button {
    background-color: #003437;
    border-color:#FD0;
    font-size: large;
    width: 20%;
    height: 60px;
    border-width: 2px;
    color: #FD0;
    padding: 0.5rem 1rem;
    margin: 50px;
    border-radius: 0.75rem;
    font-weight: bold;
    z-index: 20;
    cursor: pointer;
  }
}

.custom-info {
  justify-content: center;
  margin-top: 2.5rem;
  font-weight: 300;
  font-size: 0.875rem;
  color: #c8e6c9;
  text-align: center;
}

.custom-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  z-index: 20;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  border-radius: 1rem;
  background-color: white;
  margin: 15px;
  border: none;
  z-index: 20;
  .custom-input-box {
    border: none;
    margin: 10px;
    font-weight: 600;
  }
}