@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

/* add custom css here */
/* 
opacity: 0.4;
background: var(--gradient, linear-gradient(180deg, #FFF 0.4%, #F7F6F2 25.99%, #98B9CC 83.82%, #00274E 116.46%)); */

:root {
  --otp-screen: var(--gradient, linear-gradient(180deg, #FFF 0.4%, #F7F6F2 25.99%, #98B9CC 83.82%, #00274E 116.46%));
  --collection-1-light-pink: rgba(255, 219, 210, 1);
  --collection-1-saarthi-dark-green: rgba(0, 52, 55, 1);
  --collection-1-saarthi-green-1: rgba(19, 171, 151, 1);
  --collection-1-saarthi-yellow: rgba(255, 221, 0, 1);
}